spotipy~=2.18.0
fastapi==0.63.0
requests==2.25.1
asyncpg==0.22.0
uvicorn==0.13.4
tortoise-orm==0.16.21
pytest
gunicorn==20.0.4
python-dotenv
pytest-cov==2.11.1
flake8==3.8.4
black==21.6b0
isort==5.7.0